parameters:
	ignoreErrors:
		- '#Only booleans are allowed in an if condition, mixed given.#'
		- '#Only booleans are allowed in a negated boolean, mixed given.#'
		- '#^Parameter \#2 \$parameters of function call_user_func_array expects array\<int, mixed\>, array\<int\|string, mixed\> given\.$#'
		- '#^Parameter \#1 \$name of method Nette\\DI\\ContainerBuilder\:\:getDefinition\(\) expects string, int\|string given\.$#'
		- '#^Only booleans are allowed in a negated boolean, int given\.$#'
		# Cannot happen
		- '#^Parameter \#1 \$request of method Contributte\\Middlewares\\PresenterMiddleware\:\:processRequest\(\) expects Nette\\Application\\Request, Nette\\Application\\Request\|null given\.$#'
