includes:
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		- '#Only booleans are allowed in an if condition, mixed given.#'
		- '#Only booleans are allowed in a negated boolean, mixed given.#'
		- '#Variable \$panel might not be defined.#'
		- '#Variable \$countMiddleware might not be defined.#'
