includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Only booleans are allowed in an if condition, mixed given.#'
		- '#Only booleans are allowed in a negated boolean, mixed given.#'
		- '#^Only booleans are allowed in a negated boolean, int given\.$#'
		- '#Parameter \#1 \$code of method GuzzleHttp\\Psr7\\Response::withStatus\(\) expects int, int<min, -1>|int<1, max>|string given#'
		# Cannot happen
		- '#^Parameter \#1 \$request of method Contributte\\Middlewares\\PresenterMiddleware\:\:processRequest\(\) expects Nette\\Application\\Request, Nette\\Application\\Request\|null given\.$#'
